.contacts {
  background-image: linear-gradient(
    to bottom,
    $primary-white-color 170px,
    $advantages-bg-color 170px
  );
  min-width: 320px;
  padding-top: 86px;
}

.contacts-container {
  margin: auto;
}

.contacts__box {
  padding: 43px 21px 43px 20px;
  border-radius: 24px;
  margin: 0 auto;
  width: 100%;

  background-color: $primary-white-color;

  box-shadow: 0px 8px 30px 0px #d414431a;

  @media screen and (min-width: 320px) {
    max-width: 220px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-bottom: 54px;
  align-items: center;
  justify-content: center;
}

.contacts__item {
  flex-basis: calc(100% / 1);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;

  @media screen and (min-width: 320px) {
    padding: 0 -50px;
  }
}

.contacts__category {
  display: flex;
  height: 16px;
  margin-right: auto;
  margin-bottom: 25px;

  border-radius: 4px;
  color: $primary-white-color;
  background-color: $product2-bg-color;

  align-items: center;

  &--foodtruck {
    background-color: $product3-bg-color;
    width: 130px;
  }

  &--cafe {
    width: 80px;
  }
}

.contacts__category-text {
  margin: 0;
  display: flex;
  box-sizing: content-box;
  justify-content: center;
  align-self: center;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  text-transform: uppercase;
  justify-content: center;
  justify-self: center;
  margin: auto;
  letter-spacing: 0.04em;
}

.contacts__title {
  margin: 0;
  margin-bottom: 10px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-align: left;

  color: $primary-black-color;
}

.contacts__text {
  margin: 0;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
}

.schedule__title {
  margin: 0;

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  text-align: left;

  color: $primary-black-color;
}

.schedule__text {
  margin: 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  text-align: left;

  color: $secondary-title-color;

  &--margin {
    margin-bottom: 10px;
  }
}

.address__item {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
}

.contacts__item-wrap {
  margin-bottom: 50px;

  &::after {
    content: '';
    width: 100%;
    height: 1px;

    background-color: #e1e1e1;
    display: block;
    position: relative;
    top: 25px;
  }
}

.contacts__button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 161px;
  height: 44px;
  border: none;
  border-radius: 22px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
}

.contacts__button--location {
  color: $primary-white-color;
  background-color: $accent-color;
  margin-bottom: 10px;
  fill: $primary-white-color;
  stroke: $primary-white-color;

  &:hover,
  &:focus {
    background-color: #b81941;
  }
}

.contacts__button--franchise {
  color: $accent-color;
  background-color: $primary-white-color;
  fill: $accent-color;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.contacts__button-icon {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
