h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

%nav-link {
  font-weight: 700;
  text-decoration: none;
  color: $primary-white-color;
}

%buy-button {
  display: flex;
  border: none;
  width: 100%;
  height: 44px;
  padding: 0;

  align-items: center;
  justify-content: center;

  background: $primary-white-color;
  border-radius: 22px;
}

.hero-header {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  height: 502px;

  background-color: $header-bg-color;

  @media screen and (min-width: 768px) {
    height: 400px;
  }

  @media screen and (min-width: 1280px) {
    height: 665px;
  }
}

.page-header {
  padding: 0;
}

.page-header__container {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  padding-top: 6px;

  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}

.logo__container {
  @media screen and (min-width: 1280px) {
    transform: translateX(-69px);
  }
}

.main-nav__list {
  display: none;

  @media screen and (min-width: 1280px) {
    display: flex;
    margin-left: 45px;
  }
}

.main-nav__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.main-nav__link {
  @extend %nav-link;
  font-size: 16px;
  line-height: 1.31;
}

.open-menu-button {
  margin-left: auto;

  &.is-open {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: 291px;
  }
}

.buy-button__text {
  margin-right: 28px;

  font-weight: 700;
  font-size: 16px;
  color: $accent-color;

  .buy-button__header & {
    margin-right: 13px;
  }

  .buy-button__menu & {
    @media screen and (min-width: 768px) {
      margin-right: 21px;
    }
  }
}

.buy-button__header {
  @extend %buy-button;
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
    width: 160px;
    margin-left: auto;

    &.is-open {
      display: none;
    }
  }
}

.buy-button__menu {
  @extend %buy-button;
  margin-bottom: 19px;
  margin-right: auto;
  margin-left: auto;
  width: 209px;

  @media screen and (min-width: 768px) {
    width: 186px;
  }
}

.open-menu-button,
.close-menu-button {
  background-color: transparent;
  border: none;
}

.open-menu-button {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.close-menu-button {
  display: block;
  padding: 0;
  margin-bottom: 23px;
  margin-left: auto;
  margin-right: 28px;
}

.menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 100;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &.is-open {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__container {
  margin-left: auto;
  width: 250px;
  height: 100vh;
  background-color: $menu-bg-color;
  text-align: left;
  padding-top: 23px;

  @media screen and (min-width: 768px) {
    display: 254px;
  }
}

.mobile-nav__item {
  border-top: solid 1px $menu-border-color;
  height: 42px;
}

.mobile-nav__link {
  @extend %nav-link;
  font-size: 14px;
  line-height: 1.29;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  padding-left: 21px;
  padding-right: 21px;

  @media screen and (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.main-nav__link--active,
.mobile-nav__link--active {
  color: $accent-color;
}

.hero {
  padding-top: 137px;
  padding-bottom: 160px;

  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 34px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 84px;
    padding-bottom: 56px;
  }
}

.hero-info__container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 66px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 112px;
  }
}

.hero__title-container {
  position: relative;
  z-index: 5;
}

.hero__title {
  margin-bottom: 19px;

  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: left;
  color: $primary-white-color;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.14;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.16;
    margin-bottom: 25px;
  }

  & span {
    font-size: 48px;
    line-height: 0.96;
    color: $accent-color;

    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 0.9;
    }
  }
}

.hero-anchor__list {
  display: flex;
}

.hero-anchor__item {
  height: 24px;
  border-radius: 20px;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &--light {
    background-color: $primary-white-color;
  }

  &--dark {
    background-color: $accent-color;
  }

  @media screen and (min-width: 1280px) {
    height: 40px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.hero-anchor__link {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  padding-left: 13px;
  padding-right: 13px;

  font-size: 8px;
  text-decoration: none;

  &--light {
    color: $accent-color;
  }

  &--dark {
    color: $primary-white-color;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;

    padding-left: 22px;
    padding-right: 22px;
  }
}

.statistic-info__list {
  display: none;

  @media screen and (max-width: 1279px) {
    margin-right: 10px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.statistic-info__item {
  text-align: right;

  &:not(:last-child) {
    margin-bottom: 14px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 18px;
    }
  }
}

.statistic-info__number {
  display: block;
  position: relative;
  z-index: 0;

  font-family: Titan One;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;

  color: $accent-color;

  @media screen and (min-width: 1280px) {
    font-size: 46px;
    line-height: 1.15;
  }

  &::before {
    content: '';
    position: absolute;
    top: -2px;
    right: -10px;
    z-index: -1;

    width: 16px;
    height: 16px;
    border-radius: 50%;

    background-color: $primary-white-color;

    @media screen and (min-width: 1280px) {
      top: -4px;
      right: -18px;
      width: 30px;
      height: 30px;
    }
  }
}

.statistic-info__text {
  display: block;
  font-size: 8px;
  line-height: 1.25;
  color: $primary-white-color;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero-eco__container {
  display: none;
  position: relative;
  padding-left: 120px;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 180px;
  }
}

.hero-eco__image {
  position: absolute;
  left: 0;
  bottom: -6px;

  @media screen and (min-width: 1280px) {
    left: -38px;
    bottom: -7px;
  }
}

.hero-eco__text {
  width: 114px;
  margin-bottom: 7px;

  font-size: 8px;
  line-height: 1.5;
  text-align: left;

  color: $primary-white-color;

  @media screen and (min-width: 1280px) {
    width: 200px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.4;
  }
}

.hero-eco__icon {
  width: 18px;
  height: 18px;

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

.main-icecream__container {
  position: absolute;
  z-index: 0;
  bottom: 0;
  margin-left: 100px;

  @media screen and (min-width: 768px) {
    margin-left: 344px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 479px;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 346px;
    height: 344px;
    top: -9px;
    left: -81px;

    border-radius: 50%;
    background-color: $secondary-title-color;

    @media screen and (min-width: 768px) {
      width: 324px;
      height: 322px;
      top: -32px;
      left: -71px;
    }

    @media screen and (min-width: 1280px) {
      width: 538px;
      height: 538px;
      top: -56px;
      left: -119px;
    }
  }
}

.hero-tasty__container {
  position: absolute;
  bottom: 0;
  margin-left: 532px;

  @media screen and (min-width: 1280px) {
    margin-left: 763px;
  }
}
