.products__section {
    padding-top: 121px;
    background-color: $primary-white-color;
    min-width: 320px;
    padding-bottom: 98px;

    @media screen and (min-width: 768px) {
        padding-bottom: 121px;
            }

    @media screen and (min-width: 1280px) {
        padding-top: 127px;
        padding-bottom: 119px;
        
    }
}

.products__label {
    font-family: Titan One;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-title-color;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
    }

    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.products__title {
    font-family: Titan One;
    font-size: 34px;
    font-weight: 400;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: $accent-color;
    margin-top: 0px;
    margin-bottom: 152px;
    letter-spacing: 0.04em;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-bottom: 150px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
        margin-bottom: 259px;
    }
}

.products__list {

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -15px;
    }

    @media screen and (min-width: 1280px) {
        margin: -10px;
    }
}


.products-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 485px;
    border-radius: 24px;
    
    padding-top: 100px;

   

    @media screen and (max-width: 767px) {
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 153px;
        } }

    @media screen and (min-width: 768px) {
        margin: 10px;
        height: 485px;
        flex-basis: calc((100% - 60px) / 3);
    
    }

    @media screen and (min-width: 1280px) {
        margin: 15px;
        height: 525px;
        flex-basis: calc((100% - 90px) / 3);
    }
}

.products-list__item::before {
    content: '';
    display: block;
    height: 252px;
    width: 249px;
    margin-top: 0px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: -139px;
    left: 50%;
    transform: translateX(-50%);



    @media screen and (min-width: 768px) {
        height: 220px;
        width: 226px;
        top: -120px;
    }

    @media screen and (min-width: 1280px) {
        height: 335px;
        width: 337px;
        top: -240px;
    }

}

.products__ice-cream {
    background-color: $product1-bg-color;
    position: relative;

}

.products__ice-coffee {
    background-color: $product2-bg-color;
    position: relative;
}

.products__milkshakes {
    background-color: $product3-bg-color;
    position: relative;
}

.products-list__item-title {
    font-family: Titan One;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-white-color;
    text-align: center;
    margin-top: 0px;

    @media screen and (min-width: 1280px) {
        font-size: 30px;
    }

    &::after {
        content: '';
        display: block;
        height: 6px;
        width: 26px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: transparent;
        background-image: url(./../images/points.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.products-list__item-text {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.52;
    color: $primary-white-color;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 200px;

    @media screen and (min-width: 768px) {
        width: 198px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        margin-bottom: 62px;
        width: 241px;
    }
}

.products__ice-cream::before {
    background-image: url(./../images/products-1-min.png);

    @media screen and (min-width: 768px) {
        background-image: url(./../images/products-1-tab.png);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(./../images/products-1@2-tab.png);
    }

    @media screen and (min-width: 1200px) {
        background-image: url(./../images/products-1-desktop.png);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(./../images/products-1@2-desktop.png);
    }
}


.products__ice-coffee::before {
    background-image: url(./../images/products-2-min.png);

    @media screen and (min-width: 768px) {
        background-image: url(./../images/products-2-tab.png);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(./../images/products-2@2-tab.png);
    }

    @media screen and (min-width: 1280px) {
        background-image: url(./../images/products-2-desktop.png);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(./../images/products-2@2-desktop.png);
    }
}

.products__milkshakes::before {
    background-image: url(./../images/products-3-min.png);

    @media screen and (min-width: 768px) {
        background-image: url(./../images/products-3-tab.png);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(./../images/products-3@1-tab.png);
    }

    @media screen and (min-width: 1200px) {
        background-image: url(./../images/products-3-desktop.png);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(./../images/products-3@2-desktop.png);
    }
}

.products__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $primary-white-color;
    border: transparent;
    background-image: url(./../images/products-button.png);
    cursor: pointer;
    margin-bottom: 21px;
}

