.testimonials {
  padding-top: 80px;
}

.testimonials__avatar {
  width: 85px;
  height: 85px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;

  border-radius: 50%;
}

.testimonials__text-wrapper {
  background-color: $testimonials-bg-color;
  width: 100%;
  padding: 43px 50px 20px 50px;
  margin-bottom: 30px;
}

.testimonials__text {
  width: 157px;
  margin-left: auto;
  margin-right: auto;

  background: repeating-linear-gradient(
    $testimonials-bg-color,
    $testimonials-bg-color 29px,
    #e1e1e1 30px,
    #e1e1e1 31px
  );
  color: $primary-black-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
}

.testimonials__bulletts {
  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  padding: 0;
}

.testimonials__bullet {
  background-color: $accent-color;
  width: 4px;
  height: 4px;
  border-radius: 50%;

  & + & {
    margin-left: 10px;
  }
}

.testimonials__customer-data {
  color: $primary-black-color;

  margin-bottom: 30px;

  font-size: 500;
  font-weight: 14px;
  line-height: 186%;
}

.testimonial__slider {
  display: flex;
  justify-content: center;
}

.testimonials__page {
  background-color: #d9d9d9;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  cursor: pointer;

  & + & {
    margin-left: 18px;
  }
}

.testimonials__slider--current {
  background-color: inherit;
  background-size: 12px 12px;
  background: url('../images/home_ico.svg') no-repeat;
}
