body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: DM sans, sans-serif;
}

button {
  font-family: inherit;
}
a {
  color: inherit;
}
.container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  min-width: 320px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  width: 100%;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.img {
  display: block;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
