$accent-color: #d41443;
$primary-bg-color: #e5e5e5;
$header-bg-color: #ffb8ca;
$menu-bg-color: #e17992;
$advantages-bg-color: #fff5f6;
$prodact1-bg-color: #ffb8ca;
$prodact2-bg-color: #f0d1a5;
$prodact3-bg-color: #c2e297;
$testimonials-bg-color: #fafafa;
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$primary-text-color: #907e82;
$secondary-title-color: #ffa5ba;
