<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrapper">
      <div class="footer__left">
        <h2 class="footer__label">
          homemade ice cream made <br />
          <span class="footer__title">with passion</span>
        </h2>
      </div>

      <div class="footer__right">
        <ul class="footer-social__list">
          <li class="footer__social__item">
            <a href="https://github.com/" target="_blank" class="footer__social__link">
              <svg class="footer__social__icon" width="32" height="32">
                <use href="../src/images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social__item">
            <a href="https://telegram.org/z/" target="_blank" class="footer__social__link">
              <svg class="footer__social__icon" width="32" height="32">
                <use href="../src/images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social__item">
            <a href="https://www.facebook.com/" target="_blank" class="footer__social__link">
              <svg class="footer__social__icon" width="32" height="32">
                <use href="../src/images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <!-- <div class="footer__contacts"> -->
        <label class="footer__contacts-link"
          >Feel free to contact<a href="tel:+61(0)383766284" class="footer__link-call">
            +61 (0) 383 766 284</a
          ></label
        >
        <!-- </div> -->
      </div>
    </div>

    <div class="footer-bottom__wrapper">
      <p class="footer__copy">© 2019 - IceCream.&nbsp</p>
      <span class="footer__copy">All Rights Reserved.</span>
    </div>
  </div>
</footer>
