<footer class="footer">
  <div class="footer__container container">
    <h2 class="footer__text">homemade ice cream made</h2>
    <h3 class="footer__logo">with passion</h3>
    <ul class="footer__social">
      <li class="footer__social__item">
        <a href="https://github.com/" target="_blank" class="footer__social__link">
          <svg class="footer__social__icon" width="32" height="32">
            <use href="../src/images/sprite.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="footer__social__item">
        <a href="https://telegram.org/z/" target="_blank" class="footer__social__link">
          <svg class="footer__social__icon" width="32" height="32">
            <use href="../src/images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="footer__social__item">
        <a href="https://www.facebook.com/" target="_blank" class="footer__social__link">
          <svg class="footer__social__icon" width="32" height="32">
            <use href="../src/images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="footer__contacts">
      <label class="footer__contacts__link"
        >Feel free to contact<a href="tel:+61(0)383766284" class="footer__contacts__link_call">
          +61 (0) 383 766 284</a
        ></label
      >
    </div>
    <p class="footer__copylink">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
