<div class="hero-header">
  <header class="page-header">
    <div class="page-header__container container">
      <picture class="logo__container">
        <source
          srcset="./images/logo-desktop.png 1x, ./images/logo-desktop@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/logo-tablet.png 1x, ./images/logo-tablet@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source srcset="./images/logo.png 1x, ./images/logo@2x.png 2x" />
        <img class="logo" src="./images/logo.png" alt="logo" />
      </picture>

      <nav class="main-nav">
        <ul class="main-nav__list list">
          <li class="main-nav__item">
            <a href="#home" class="main-nav__link main-nav__link--active">Home</a>
          </li>
          <li class="main-nav__item">
            <a href="#feedbacks" class="main-nav__link">About us</a>
          </li>
          <li class="main-nav__item">
            <a href="#about" class="main-nav__link">How it’s made?</a>
          </li>
          <li class="main-nav__item">
            <a href="#products" class="main-nav__link">Our products</a>
          </li>
          <li class="main-nav__item">
            <a href="#contacts" class="main-nav__link">Contact</a>
          </li>
        </ul>
      </nav>

      <button
        type="button"
        class="open-menu-button"
        aria-controls="menu__container"
        data-open-menu-button
      >
        <svg width="20" height="12" aria-label="Open mobile menu" class="open-menu-button__icon">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>

      <button type="button" class="buy-button__header" data-buy-button>
        <span class="buy-button__text">Buy now</span>
        <svg width="8" height="10" class="buy-button__icon">
          <use href="./images/sprite.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  </header>

  <div class="menu__overlay" data-menu>
    <div class="menu__container" id="menu__container">
      <button
        type="button"
        class="close-menu-button"
        aria-controls="menu__container"
        data-close-menu-button
      >
        <svg width="14" height="14" aria-label="Close mobile menu" class="close-menu-button__icon">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <button type="button" class="buy-button__menu">
        <span class="buy-button__text">Buy now</span>
        <svg width="8" height="10" class="buy-button__icon">
          <use href="./images/sprite.svg#icon-right-arrow"></use>
        </svg>
      </button>
      <nav class="mobile-nav">
        <ul class="mobile-nav__list list">
          <li class="mobile-nav__item">
            <a href="#home" class="mobile-nav__link mobile-nav__link--active" data-mobile-nav>
              Home
            </a>
          </li>
          <li class="mobile-nav__item">
            <a href="#feedbacks" class="mobile-nav__link" data-mobile-nav>About us</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#about" class="mobile-nav__link" data-mobile-nav>How it’s made?</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#products" class="mobile-nav__link" data-mobile-nav>Our products</a>
          </li>
          <li class="mobile-nav__item">
            <a href="#contacts" class="mobile-nav__link" data-mobile-nav>Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <section class="hero">
    <div class="container">
      <div class="hero-info__container">
        <div class="hero__title-container">
          <h1 class="hero__title">
            ice cream<br />made with<br /><span class="hero__title-accent">passion </span>
          </h1>
          <ul class="hero-anchor__list list">
            <li class="hero-anchor__item hero-anchor__item--dark">
              <a href="#products" class="hero-anchor__link hero-anchor__link--dark">Products</a>
            </li>
            <li class="hero-anchor__item hero-anchor__item--light">
              <a href="#about" class="hero-anchor__link hero-anchor__link--light">How it’s made?</a>
            </li>
          </ul>
        </div>
        <ul class="statistic-info__list list">
          <li class="statistic-info__item">
            <span class="statistic-info__number">16</span>
            <span class="statistic-info__text">cafes</span>
          </li>
          <li class="statistic-info__item">
            <span class="statistic-info__number">23</span>
            <span class="statistic-info__text">food trucks</span>
          </li>
        </ul>
      </div>
      <div class="hero-eco__container">
        <picture>
          <source
            srcset="./images/eco-desktop.png 1x, ./images/eco-desktop@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/eco-tablet.png 1x, ./images/eco-tablet@2x.png 2x"
            media="(min-width: 768px)"
          />
          <img class="hero-eco__image" src="./images/eco-tablet.png" alt="Bio-eco" />
        </picture>
        <p class="hero-eco__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="" class="hero-eco__link">
          <img class="hero-eco__icon" src="./images/arrow-right-button.png" alt="Eco" />
        </a>
      </div>
      <div class="main-icecream__container">
        <picture>
          <source
            srcset="
              ./images/ice-cream-main-desktop.png    1x,
              ./images/ice-cream-main-desktop@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/ice-cream-main-tablet.png 1x, ./images/ice-cream-main-tablet@2x.png 2x"
            media="(min-width: 768px)"
          />
          <source srcset="./images/ice-cream-main.png 1x, ./images/ice-cream-main@2x.png 2x" />
          <img class="main-icecream__image" src="./images/ice-cream-main.png" alt="ice-cream" />
        </picture>
      </div>
      <div class="hero-tasty__container">
        <picture>
          <source
            srcset="./images/tasty-desktop.png 1x, ./images/tasty-desktop@2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/tasty-tablet.png 1x, ./images/tasty-tablet@2x.png 2x"
            media="(min-width: 768px)"
          />
          <img class="hero-tasty__image" src="./images/tasty-tablet.png" alt="Tasty" />
        </picture>
      </div>
    </div>
  </section>
</div>
