<div class="hero-header-container">
  <div class="container">
    <header class="page-header">
      <img src="" alt="logo" />
      <div class="menu-container">
        <button
          type="button"
          class="close-menu-button"
          aria-expanded="false"
          aria-controls="menu-container"
          close-menu-button
        >
          <svg
            width="40"
            height="40"
            aria-label="Closing mobile menu"
            class="close-menu-button__icon"
          >
            <use href=""></use>
          </svg>
        </button>
        <button type="button" class="buy-button">Buy now</button>
        <ul class="site-nav list">
          <li class="site-nav__item">
            <a href="#home" class="site-nav__link">Home</a>
          </li>
          <li class="site-nav__item">
            <a href="#feedbacks" class="site-nav__link">About us</a>
          </li>
          <li class="site-nav__item">
            <a href="#about" class="site-nav__link">How it’s made?</a>
          </li>
          <li class="site-nav__item">
            <a href="#products" class="site-nav__link">Our products</a>
          </li>
          <li class="site-nav__item">
            <a href="#contacts" class="site-nav__link">Contact</a>
          </li>
        </ul>
      </div>
      <button type="button" class="buy-button">Buy now</button>
    </header>
    <section class="hero">
      <div class="hero__title-container">
        <h1 class="hero__title">ice cream made with passion</h1>
        <ul class="hero-anchor__list list">
          <li class="hero-anchor__item">
            <a href="#products" class="hero-anchor__link hero-anchor__link--dark">Products</a>
          </li>
          <li class="hero-anchor__item">
            <a href="#about" class="hero-anchor__link hero-anchor__link--light">How it’s made?</a>
          </li>
        </ul>
      </div>
      <ul class="statistic-info__list list">
        <li class="statistic-info__item">
          <span class="statistic-info__number">16</span>
          <span class="statistic-info__text">cafes</span>
        </li>
        <li class="statistic-info__item">
          <span class="statistic-info__number">23</span>
          <span class="statistic-info__text">food trucks</span>
        </li>
      </ul>
      <div class="hero-eco__container">
        <img class="hero-eco__image" src="" alt="Bio eco" />
        <p class="hero-eco__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <a href="" class="hero-eco__link">
          <svg class="hero-eco__icon" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </div>
    </section>
  </div>
</div>
