<section class="products__section">
  <div class="products__container container">
    <label class="products__label" for="">100% natural</label>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products-list__item products__ice-cream">
        <h3 class="products-list__item-title">ice cream</h3>
        <p class="products-list__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
      <li class="products-list__item products__ice-coffee" >
        <h3 class="products-list__item-title">ice coffee</h3>
        <p class="products-list__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
      <li class="products-list__item products__milkshakes">
        <h3 class="products-list__item-title">milkshakes</h3>
        <p class="products-list__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
    </ul>
  </div>
</section>
