<section class="products__section" id="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list list">
      <li class="products-list__item products__ice-cream">
        <h3 class="products-list__item-title title__ice-cream">ice cream</h3>
                  <p class="products-list__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__button"></button>
              </li>
      <li class="products-list__item products__ice-coffee">
        <h3 class="products-list__item-title">ice coffee</h3>
              <p class="products-list__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__button"></button>
      </li>
      <li class="products-list__item products__milkshakes">
        <h3 class="products-list__item-title">milkshakes</h3>
                  <p class="products-list__item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
                <button type="button" class="products__button"></button>
      </li>
    </ul>
  </div>
</section>
