<section class="testimonials">
  <div class="testimonials__slider-wrapper">
    <div class="testimonials__slider-item">
      <article class="testimonials__article container">
        <img
          srcset="./images/testimonials1_480.jpg 1x, ./images/testimonials1_480@2x.jpg 2x"
          src="./images/testimonials1_480.jpg"
          alt="customer"
          class="testimonials__avatar img"
          width="85"
        />
        <div class="testimonials__text-wrapper">
          <div class="testimonials__text-background">
            <div class="testimonials__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              <br /><br />
            </div>
          </div>
        </div>

        <div class="testimonials__slide-bar">
          <h2 class="testimonials__customer-data">Emily, Los Angeles</h2>
          <ul class="testimonial__slider list">
            <li class="testimonials__page testimonials__slider--current"></li>
            <li class="testimonials__page"></li>
            <li class="testimonials__page"></li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</section>
