<section class="testimonials container">
  <article class="testimonials__article">
    <img
      srcset="./images/testimonials1_480.jpg 1x, ./images/testimonials1_480@2x.jpg 2x"
      src="./images/testimonials1_480.jpg"
      alt="customer"
      class="testimonials__avatar img"
      width="85"
    />
    <div class="testimonials__text-wrapper">
      <div class="testimonials__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. <br /><br />
      </div>
    </div>

    <div class="testimonials__slide-bar">
      <div class="">
        <ul class="testimonials__bulletts list">
          <li class="testimonials__bullet"></li>
          <li class="testimonials__bullet"></li>
          <li class="testimonials__bullet"></li>
        </ul>
      </div>
    </div>
  </article>
</section>
